<div class="app-control-row">
	<span></span>
	<div class="name">{{ name }}</div>
	<div class="row-controls">
		<button class="destroy-app">-</button>
		<button class="add-app">+</button>
	</div>
</div>