<div class="app-control-row">
	<span></span>
	<div class="name">
		{{ name }}
	</div>
	<div class="row-controls">
		<button class="add-app"></button>
		<button class="destroy-app"></button>
	</div>
</div>