<div class="pure-u-1-5">
	<div class="controls">
		<div class="add-server-button">
			<button>
			</button>
			<div> Add Server</div>
		</div>
		<div class="destroy-server-button">
			<button>
			</button>
			<div> Destroy Server</div>
		</div>
	</div>
	<div class="app-controls">
	</div>
</div>